.header {
    margin: 0;
    padding: 0;
}

.header__wrapper {
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
}

.header__site-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__burger-button {
    position: relative;

    margin: 0;
    padding: 0;

    width: 23px;
    height: 23px;

    background: none;
    border: none;

    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;

        display: block;
        width: 23px;
        height: 1px;

        background-color: $trueBlack;
        transition: all .3s ease;
    }

    &::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;

        display: block;
        width: 23px;
        height: 1px;

        background-color: $trueBlack;
        transition: all .3s ease;
    }

    &--active {
        & .header__burger-icon {
            transform: scale(0);
        }
        &::before {
            top: 12px;

            transform: rotate(45deg);
        }
        &::after {
            top: 12px;

            transform: rotate(-45deg);
        }
    }
}

.header__burger-icon {
    margin: 0;
    padding: 0;
    display: block;
    width: 23px;
    height: 1px;

    background: none;
    background-color: $trueBlack;

    transition: all .3s ease;
}

.header__city-button {
    position: relative;

    box-sizing: border-box;
    margin: 0 0 0 55px;
    padding: 0 20px 0 0;

    font-family: $montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    color: $trueBlack;

    background: none;
    border: none;
    
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 5px;

        display: block;
        width: 8px;
        height: 1px;

        background-color: $trueBlack;
        border-radius: 1px;

        transform: rotate(45deg);
    }

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 0px;

        display: block;
        width: 8px;
        height: 1px;

        background-color: $trueBlack;
        border-radius: 1px;

        transform: rotate(-45deg);
    }
}

.header__logo {
    margin: 0;
    padding: 0;
}

.header__logo-image {
    display: block;
    width: 100%;
    height: auto;
}

.header__user-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__phone-link {
    position: relative;

    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;

    font-family: $montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: $trueBlack;
    text-decoration: none;

    border-bottom: 1px dashed $trueBlack;
}

.header__user-navigation-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__whatsapp-link {
    box-sizing: border-box;
    display: block;
    margin: 0 0 0 20px;
    padding: 13px 12px 12px 13px;

    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    @include smooth;

    &:hover,
    &:focus {
        background-color: $yamRed;
        box-shadow: 0px 4px 12px rgba(246, 97, 130, 0.38);

        & svg path {
            fill: $trueWhite;
        }
    }
}

.header__instagram-link {
    box-sizing: border-box;
    display: block;
    margin: 0 0 0 15px;
    padding: 13px 12px 12px 13px;

    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    @include smooth;

    &:hover,
    &:focus {
        background-color: $yamRed;
        box-shadow: 0px 4px 12px rgba(246, 97, 130, 0.38);

        & svg path {
            fill: $trueWhite;
        }
    }
}

.header__cart-link {
    position: relative;

    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 40px;
    padding: 0;

    text-decoration: none;
}

.header__total-price {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;

    font-family: $montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color: $trueBlack;
    white-space: nowrap;
}

.header__card-icon {
    position: relative;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 15px;
    padding: 11px 10px 10px 11px;

    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    @include smooth;

    &:hover,
    &:focus {
        background-color: $yamRed;
        box-shadow: 0px 4px 12px rgba(246, 97, 130, 0.38);

        & svg path {
            fill: $trueWhite;
        }

        & .header__product-count {
            color: $trueBlack;
            background-color: $trueWhite;
        }
    }
}

.header__product-count {
    position: absolute;
    top: 0;
    right: 0;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    margin: 0;
    padding: 0;

    font-family: $montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: $trueWhite;

    background-color: $yamRed;
    border-radius: 50%;

    @include smooth;
}

