.solid-square {
    margin: 0;
    padding: 0;
}

.solid-square__size-item:first-child .solid-square__size-button {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.solid-square__size-item:last-child .solid-square__size-button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.solid-square__size-button {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;

    font-family: $montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    color: $trueBlack;
    text-align: center;

    background: none;
    border: none;
    border: 1px solid $trueBlack;

    cursor: pointer;

    @include smooth;

    &:hover,
    &:focus {
        color: $trueWhite;
        background-color: $trueBlack;
    }
}
